.additional-product {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border-color: #cdcdcd;
    padding: 24px 38px 27px 38px;

    &:last-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 16px 0;
  }
}

.additional-product:not(:first-child) {
  @media (min-width: $tablet-width) {
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.additional-product__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 2px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 245px;
    margin-right: 80px;
  }
}

.additional-product__quantity-container {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 300px;
    justify-content: end;
    align-self: flex-end;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    margin-bottom: 0;
    width: 325px;
    line-height: 14px;
  }
}

.additional-product__quantity-name {
  @media (min-width: $desktop-width) {
    margin: 0;
    width: 245px;
    display: block;
  }
}

.additional-product__description-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product__price {
  @media (min-width: $tablet-width) {
    width: 92px;
    text-align: right;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    text-align: left;
  }
}

.additional-product__button {
  width: 245px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 632px;
  }
}

.additional-product--milk .additional-product__quantity-container {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product--milk .additional-product__description-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product--milk {
  @media (min-width: $tablet-width) {
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
  }
}

.additional-product:last-child {
  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.additional-product--vitamins .additional-product__quantity-container {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
