.catalog-show-more__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog-show-more__description {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}

.catalog-show-more__button {
  display: block;
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  background-color: #f2f2f2;
}
