.catalog-show-more {
  margin: 0;
  padding-top: 58px;
  padding-bottom: 0;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center 5px;

  @media (min-width: $tablet-width) {
    padding: 159px 0 36px 0;
    background-size: 60px;
    background-position: center 51px;
    border: solid 2px #cdcdcd;
    background-image: url("../img/plus-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-position: center 47px;
    padding-top: 156px;
    padding-bottom: 39px;
  }
}

.catalog-show-more__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-left: 1px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 24px;
    width: 134px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-top: 1px;
  }
}

.catalog-show-more__description {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  color: $grey;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 86px;
    width: 167px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;
  }
}

.catalog-show-more__button {
  display: block;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
  background-color: $light-grey;
  text-align: center;
  padding: 10px 94px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($color: #444444, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 79px;
    width: 91px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 39px;
    padding-right: 39px;
  }
}
