.catalog-show-more__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.catalog-show-more__description {
  color: $grey;
  font-size: 12px;
  line-height: 16px;
}

.catalog-show-more__button {
  display: block;
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $grey;
  background-color: $light-grey;
}
