.catalog-additional-goods__title {
  position: relative;
  margin: 0 20px;
  padding: 25px 0 35px 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  border-bottom: 1px solid #ebebeb;

  &::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 2px;
    background-color: $green;
    right: -20px;
    top: 40px;

    @media (min-width: $tablet-width) {
      top: 22px;
      right: 0;
      width: 328px;
    }

    @media (min-width: $desktop-width) {
      width: 957px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-left: 67px;
    border: none;
    margin-top: 68px;
    margin-bottom: 80px;

    &::before {
      content: "";
      position: absolute;
      background-color: $green;
      width: 30px;
      height: 2px;
      left: 0;
      top: 22px;

      @media (min-width: $desktop-width) {
        width: 70px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    margin-bottom: 79px;
    margin-top: 75px;
  }
}

.catalog-additional-goods__container {
  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.catalog-additional-goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border: solid 1px #cdcdcd;
    width: 706px;
    padding: 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    width: 896px;
    margin: 0;
    margin-left: 110px;
    margin-right: 79px;
  }
}

.catalog-additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
  }
}

.catalog-additional-goods__catalog-discount {
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 76px;
  }
}
