.choose-catalog {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .choose-catalog {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }
}
