.living-example__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.living-example__description {
  color: $grey;
  font-size: 14px;
  line-height: 18px;
}

.living-example__weight {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.living-example__time {
  font-family: "Oswald Regular", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.living-example__weight-description {
  font-size: 12px;
  line-height: 12px;
  color: $grey;
}

.living-example__time-description {
  font-size: 12px;
  line-height: 12px;
  color: $grey;
}

.living-example__food-expenses {
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.living-example__before {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.living-example__after {
  font-family: "Oswald Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
