.living-example {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 20px 45px 20px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-top: 43px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 55px;
    background-image: url("../img/background-living-example.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 58px 110px;
    background-size: 1440px 462px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.living-example__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-weight: 400;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 43px;
    margin-bottom: 146px;
  }
}

.living-example__description {
  color: $grey;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.living-example__spend-title {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  padding-top: 13.5px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  width: 122px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 160px;
    padding-bottom: 19px;
  }
}

.living-example__spend-description {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -14px;
  width: 88px;
  font-size: 12px;
  line-height: 12px;
  color: $grey;
  background-color: #eaeaea;
  text-align: center;
  white-space: pre;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    background-color: $white;
    bottom: -7px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.living-example__spend-description--weight {
  left: 16px;

  @media (min-width: $tablet-width) {
    width: 111px;
    left: 25px;
  }
}

.living-example__spend-description--time {
  right: 19px;

  @media (min-width: $tablet-width) {
    width: 143px;
    right: 10px;
  }
}

.living-example__food-expenses {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 29px;
    width: 174px;
    text-align: end;
    padding-top: 7px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    width: 327px;
  }
}

.living-example__slider-description {
  position: relative;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    background-image: url("../img/underline.svg");
    background-repeat: no-repeat;
    background-position: center 34px;
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.living-example__spending-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.living-example__slider-wrapper {
  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    width: 591px;
  }
}

.living-example__slider-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 570px;
    margin-left: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
  }
}

.living-example__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 25px;
  }
}

.living-example__slider {
  position: relative;
  width: 83.5px;
  height: 12px;
  background-color: $white;
  border-radius: 6px;
  border: solid #cdcdcd 1px;

  @media (min-width: $tablet-width) {
    width: 426px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }
}

.living-example__slider-meaning {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35.6px;
  height: 6px;
  background-color: $green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider-button {
  display: none;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    background-color: $white;
    width: 34px;
    height: 34px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    bottom: 4px;
    left: 266px;

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $green;
      position: absolute;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }
  }
}

.slider-button:hover ~ .living-example__slider-description {
  background-image: url("../img/slider-hover.svg");
  background-repeat: no-repeat;
  background-position: center 34px;
}

.slider-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

.slider-button:active {
  border-color: $green;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.slider-button:active ~ .living-example__slider-description {
  background: none;
}

@media (min-width: $tablet-width) {
  .living-example__common-spending-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .living-example__spending-container {
    width: 366px;
  }
}

@media (min-width: $desktop-width) {
  .living-example__common-spending-container {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.living-example__expenses-text {
  @media (min-width: $desktop-width) {
    margin-left: 2px;
  }
}
