.main-form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 196px 69px 164px 67px 286px 67px 128px 61px;
    column-gap: 80px;
  }
}

.main-form__control-radio-purpose {
  position: relative;
  border: none;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 601px;
    margin: 0 auto;
    margin-bottom: 75px;
    font-size: 20px;
    font-weight: 30px;
    border: 1px solid #e7e7e7;
    padding-top: 25px;
    padding-left: 27px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/3/1/4;
    margin: 0;
    padding: 24px 27px;
    width: 514px;
  }
}

.main-form__control-radio-purpose::after {
  position: absolute;
  content: "";
  background-color: #d9d9d9;
  width: 320px;
  height: 1px;
  bottom: 0;
  left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-form__control-radio-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.main-form__control-radio-item:not(:last-child) {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }
}

.main-form__label-radio-item {
  display: flex;
  align-items: center;
}

.main-form__control-mark {
  margin: 0;
  margin-right: 16px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 38px;
    height: 38px;
  }
}

.main-form__radio-control {
  &:hover + .main-form__control-mark {
    border-color: #bababa;
  }

  &:disabled + .main-form__control-mark + .main-form__control-label {
    opacity: 0.3;
  }

  &:checked + .main-form__control-mark {
    background-image: url("../img/radio-button-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;

    @media (min-width: $tablet-width) {
      background-size: 18px;
    }
  }
}

.main-form__submit {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  background-color: $green;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  border: none;
  width: 100%;
  padding: 7px 44px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 13px 45px;
    font-size: 20px;
    line-height: 26px;
    width: 292px;
    margin-right: 61px;
    margin-left: 41px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 568px;
    margin-right: 81px;
  }
}

.main-form__important-inputs-description {
  font-family: "Arial", sans-serif;
  color: $black;
  text-transform: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
  }
}

.main-form__submit-container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 9/1/9/4;
    margin-bottom: 82px;
  }
}

.main-form__text-fields {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 630px;
    margin-left: 41px;
    margin-bottom: 72px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/1/1/2;
    margin: 0;
    width: 570px;
  }
}

.main-form__text-fields::after {
  position: absolute;
  content: "";
  background-color: #d9d9d9;
  width: 320px;
  height: 1px;
  bottom: 0;
  left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-form__text-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form__text-field-container:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.main-form__text-field {
  padding: 13px 14px;
  width: 100%;
  outline: 1px solid #e7e7e7;
  border: none;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-transform: uppercase;

  &:hover {
    outline-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid $grey;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: inherit;
    line-height: inherit;
    padding: 10.5px 18.5px;
  }
}

.main-form__legend {
  margin: 0;
  margin-right: 12px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    margin-right: 10px;

    &--age {
      margin-right: 14px;
    }

    &--email {
      padding-left: 41px;
      margin-right: 18px;

      @media (min-width: $desktop-width) {
        padding: 0;
      }
    }

    &--phone {
      padding-left: 38px;
      margin-right: 14px;

      @media (min-width: $desktop-width) {
        padding: 0;
      }
    }
  }
}

.main-form__contacts-client {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 23px;
  font-size: 20px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-right: 33px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3/1/3/4;
    margin: 0;
    padding: 0;
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.main-form__contacts-client-title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $green;
    width: 99px;
    right: -20px;
    top: 17px;

    @media (min-width: $tablet-width) {
      right: -30px;
      top: 23px;
      width: 145px;
    }

    @media (min-width: $desktop-width) {
      width: 778px;
      right: -685px;
      top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
    width: 645px;
    margin-bottom: 76px;

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: $green;
      width: 30px;
      top: 23px;
      left: -30px;

      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    padding: 0;
  }
}

.main-form__text-field--email {
  background-image: url("../img/email-icon.svg");
  background-repeat: no-repeat;
  background-position: 183px;

  @media (min-width: $tablet-width) {
    background-size: 18px 14px;
    background-position: 513px;
  }
}

.main-form__text-field--phone {
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: 170px 12px;

  @media (min-width: $tablet-width) {
    background-position: 497px 16px;
  }
}

.main-form__client-comment {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 5/1/5/4;
    margin: 0;
  }
}

.main-form__client-comment-title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 158px;
    background-color: $green;
    right: -20px;
    top: 15px;

    @media (min-width: $tablet-width) {
      width: 478px;
      right: -30px;
      top: 23px;
    }

    @media (min-width: $desktop-width) {
      width: 1108px;
      right: -1148px;
      top: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 39px;
    margin-bottom: 76px;
    width: 669px;

    &::before {
      position: absolute;
      content: "";
      background-color: $green;
      height: 2px;
      width: 30px;
      left: -30px;
      top: 23px;

      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
        top: 22px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 182px;
    padding: 0;
    margin-bottom: 76px;
  }
}

.main-form__client-comment-field {
  width: 100%;
  border: 1px solid #e7e7e7;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 9px 19px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    width: 593px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 1184px;
    height: 156px;
  }
}

.main-form__additionally {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 7/1/7/4;
  }
}

.main-form__additionally-title {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 136px;
    background-color: $green;
    right: -20px;
    top: 16px;

    @media (min-width: $tablet-width) {
      width: 446px;
      top: 23px;
      right: -30px;
    }

    @media (min-width: $desktop-width) {
      width: 1078px;
      right: -1118px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-bottom: 57px;

    &::before {
      position: absolute;
      content: "";
      background-color: $green;
      height: 2px;
      width: 30px;
      left: -30px;
      top: 23px;

      @media (min-width: $desktop-width) {
        width: 70px;
        left: -110px;
        top: 22px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 57px;
    width: 212px;
  }
}

.main-form__check-mark {
  display: block;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  margin-right: 16px;

  .main-form__control-check:hover + & {
    border-color: #bababa;
  }

  .main-form__control-check:disabled + & + .main-form__control-label {
    opacity: 0.3;
  }

  .main-form__control-check:checked + & {
    background-image: url("../img/check-mark.svg");
    background-size: 18px 14px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-size: 24px 19px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.main-form__control-composition-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    display: grid;
    grid-template-columns: 221px 221px;
    grid-template-rows: 40px 40px;
    column-gap: 123px;
    row-gap: 32px;
    width: 565px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 221px 221px 221px 221px;
    grid-template-rows: 40px;
    column-gap: 104px;
    padding: 0;
  }
}

.main-form__control-composition-container {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.main-form__control-composition-container:not(:last-child) {
  margin-bottom: 12px;
}
