.main-form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-transform: uppercase;
}

.main-form__control-radio-purpose {
  color: $dark-grey;
}

.main-form__submit {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  background-color: $green;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  border: none;
}

.main-form__important-inputs-description {
  font-family: "Arial", sans-serif;
  color: $black;
  text-transform: none;
}
