.main-form {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.main-form__control-radio-purpose {
  color: #222222;
}

.main-form__submit {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  background-color: #68b738;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
}

.main-form__important-inputs-description {
  font-family: "Arial", sans-serif;
  color: #000000;
  text-transform: none;
}
