.main-footer {
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
}

.main-footer--catalog .main-footer__container {
  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}

.main-footer__container {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 708px;
    padding: 56px 30px 60px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px 58px 110px;
    width: 1220px;
  }
}

.main-footer__word-logo-link {
  display: block;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    margin-right: 155px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 413px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--catalog > .main-footer__container > .main-footer__word-logo-link {
    padding-top: 7px;
  }

  .main-footer--catalog > .main-footer__container > .main-footer__social {
    padding-top: 2px;
  }
}

.main-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-right: 129px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 384px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 21px;
  padding-bottom: 22px;

  &--index {
    padding-top: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.main-footer__html-academy-link {
  display: block;
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-decoration: none;
  text-overflow: ellipsis;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-footer__html-academy-logo-link {
  position: relative;
  display: block;
  width: 27px;
  height: 34px;
}

.main-footer__htmlacademy-icon {
  position: absolute;
  top: 2px;
  left: 0;
  fill: #666666;

  @media (min-width: $tablet-width) {
    top: 0;
  }
}

.main-footer__copyright:hover > .main-footer__html-academy-logo-link > .main-footer__htmlacademy-icon {
  fill: $green;
}

.main-footer__copyright:active {
  opacity: 0.3;
}

.main-footer__word-logo:hover {
  opacity: 0.8;
}

.main-footer__word-logo:active {
  opacity: 0.6;
}
