.main-navigation {
  &--opened {
    position: absolute;
    top: 65px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: $white;
    text-align: center;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 440px;
    display: block;
    position: initial;
  }

  @media (min-width: $desktop-width) {
    width: 479px;
    z-index: 1;
    background-color: transparent;
  }

  &--form {
    @media (min-width: $tablet-width) {
      width: 500px;
      padding-bottom: 1px;
    }
  }
}

.main-navigation--form > .main-navigation__list {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-right: 1px;

    & > .main-navigation__item::after {
      bottom: 2px;

      @media (min-width: $desktop-width) {
        bottom: 4px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    & > .main-navigation__item:nth-child(2) {
      margin-right: 34px;
    }
  }
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 23px;
  border-bottom: solid 1px #e6e6e6;

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-right: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 36px;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-right: 36px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 33px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    padding-bottom: 10px;
    border: none;

    &--current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      background-color: $green;
      height: 2px;

      @media (min-width: $desktop-width) {
        bottom: 4px;
      }
    }

    &--current--index::after {
      background-color: $white;
    }

    &--catalog {
      padding-bottom: 11px;

      &:first-child {
        margin-right: 32px;
      }

      &:nth-child(2) {
        margin-right: 39px;
      }

      &::after {
        bottom: 3px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;

    &--catalog {
      &:first-child {
        margin-right: 35px;
      }

      &:nth-child(2) {
        margin-right: 35px;
      }

      &::after {
        bottom: 4px;
      }
    }
  }
}

.main-navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    & {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    padding-bottom: 1px;
  }
}

.main-navigation__link {
  font-family: "Oswald Medium", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-family: "Oswald Regular", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $white;
    }
  }
}
