.main-product-description__title {
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.main-product-description__impact-list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
