.partnership {
  margin: 0;
  background-color: $white;

  @media (min-width: $desktop-width) {
    position: relative;
    width: 1440px;
  }
}

.partnership__container {
  margin: 0;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 56px 70px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 405px;
    background-color: $white;
    padding: 56px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.partnership__title {
  margin: 0;
  padding: 0;
  width: 139px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    font-size: 20px;
    line-height: 26px;
    width: 165px;
  }
}

.partnership__adress {
  margin: 0;
  padding: 0;
  width: 139px;
  font-size: 14px;
  line-height: 20px;
  color: $grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    width: 155px;
  }
}

.partnership__map {
  display: block;
}

.partnership--catalog {
  background-color: $light-grey;
}

.partnership--form {
  background-color: $light-grey;
}

.partnership iframe {
  border: none;
  display: block;
}

.partnership__map-container {
  width: 320px;
  height: 362px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.partnership__street {
  @media (min-width: $desktop-width) {
    align-self: flex-end;
    padding-top: 2px;
  }
}
