.product-card {
  width: 280px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0;
    width: 252px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0;
    margin: 0;
  }
}

.product-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  width: 76px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 5px;
    line-height: 21px;
    margin-bottom: 24px;
    margin-top: 46px;
  }
}

.product-card__title-weight {
  @media (min-width: $tablet-width) {
    padding-left: 5px;
  }
}

.product-card__image {
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0 42px 34px 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 34px 0 39px;
  }
}

.product-card__button-order {
  box-sizing: border-box;
  width: 280px;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 auto;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    align-self: center;
  }
}

.product-card__product-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  width: 142px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    row-gap: 16px;
    margin-bottom: 41px;
    width: 247px;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 171px;
    padding-left: 4.5px;
    padding-right: 4.5px;
    margin: 0 auto;
    margin-bottom: 41px;
    row-gap: 17px;
  }
}

.product-card__product-weight-name {
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      background-color: #cdcdcd;
      width: 250px;
      height: 1px;
      bottom: -8px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -9px;
      width: 169px;
    }

    padding-left: 4px;
  }
}

.product-card__product-taste-name {
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      background-color: #cdcdcd;
      width: 250px;
      height: 1px;
      bottom: -8px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -8px;
      right: -6px;
      width: 169px;
    }

    padding-left: 4px;
  }
}

.product-card__product-price-name {
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      background-color: #cdcdcd;
      width: 250px;
      height: 1px;
      bottom: -8px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -7px;
      width: 169px;
    }

    padding-left: 4px;
  }
}

.product-card__product-weight {
  text-align: right;
  width: 67px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 87px;
  }
}

.product-card__product-taste {
  text-align: right;
  width: 70px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product-card__product-price {
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    line-height: 12px;
  }
}
