.program-selection {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program-selection__main-title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  padding: 0;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 65px;
    margin-bottom: 54px;
    padding-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73.5px;
    margin-bottom: 56px;
    padding: 0;
  }
}

.program-selection__description {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  width: 250px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-left: 40px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.program-selection__form-description {
  margin-bottom: 40px;
}
