.program-selection__main-title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
}

.program-selection__description {
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
