.promo {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 267px;
  }
}

.promo__container {
  position: relative;
  margin: 0 0 138px 0;
  padding-top: 27px;
  padding-bottom: 164px;
  background-color: rgba(104, 183, 56, 0.85);

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    padding-top: 111px;
  }
}

.promo__text {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    & {
      margin-left: 117px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-left: 190px;
    }
  }
}

.promo__background-cat {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: $green;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    z-index: 0;
    top: 0;
    right: 0;
  }
}

.promo__main-title {
  margin: 0 0 25px 0;
  padding: 0;
  padding-left: 1px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    & {
      font-size: 60px;
      line-height: 60px;
      text-align: start;
      width: 500px;
      margin-bottom: 41px;
    }
  }
}

.promo__main-slogan {
  margin: 0;
  padding: 0;
  padding-right: 2px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    & {
      font-size: 20px;
      line-height: 20px;
      text-align: start;
      text-transform: uppercase;
      width: 290px;
      padding-left: 2px;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      padding-left: 0;
    }
  }
}

.promo__button-choose-programm {
  display: block;
  width: 192px;
  margin: 0 auto;
  padding: 11px 44px;
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-align: center;
  background-color: $green;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    & {
      font-size: 20px;
      line-height: 20px;
      padding: 17px 26px;
      margin-left: 120px;
      margin-top: 49px;
    }
  }

  @media (min-width: $desktop-width) {
    & {
      margin-left: 190px;
      margin-top: 51px;
    }
  }
}

.promo__product-image {
  position: absolute;
  top: 167px;
  left: 20px;

  @media (min-width: $tablet-width) {
    top: 265px;
    left: 30px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 141px;
    left: 558px;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .promo__container {
    background-color: $white;
  }

  .promo__main-title {
    color: $black;
  }

  .promo__main-slogan {
    color: $black;
  }
}
