.social {
  padding: 20px;
}

.social__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  width: 28px;
}

.social__link {
  width: 28px;
}
