.social {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  width: 28px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  position: relative;
  fill: #666666;
}

.social__icon:hover {
  fill: $green;
}

.social__icon:active {
  opacity: 0.3;
}

.social__icon {
  position: absolute;
}

.social__icon--vkontakte {
  top: 3px;
  right: 0;
}

.social__icon--youtube {
  top: 2px;
  left: 2px;
}

.social__icon--telegram {
  top: 3px;
  left: 4px;
}
